
{% if 'user_id' in request.session %}
{% include "homebase_admin.html" %}

{% elif 'super_admin' in request.session %}
{% include 'homebase_superadmin.html'%}
{% endif %}

{% block content %}
<br>
<br>
<br>
<div class="p-10">
<h1>Manage Admins</h1>
<h5>Update or Delete Admins here</h5>
<br>
<table class="table table-border cell-border striped" data-role="table">
    <thead>
    <tr style="background-color: #6495ed;">
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    {% for user in user_data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td >{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>
            <button class="button primary" onclick="Metro.dialog.open('#edit_admin'), editAdmin('{{user.user_id}}', '{{user.first_name}}', '{{user.last_name}}','{{user.email}}')">Edit</button>
            <button class="button alert" onclick="deleteAdmin('{{user.user_id}}')">Delete</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    
</div>

<!--Edit product-->
<div class="dialog w-50" data-role="dialog" id="edit_admin">
    <form action="/edit_Admin/" method="POST">
     {% csrf_token %}
    <div class="dialog-title">Edit product</div>
    <div class="dialog-content">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" placeholder="First name" id="first_name_edit" name="first_name_edit" required/>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" placeholder="Last name" id="last_name_edit" name='last_name_edit' required/>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" placeholder="Email" id="email_edit" name="email_edit" disabled/>
            </div>
            <input type="hidden" id="user_id" name="user_id">
    </div>
    <div class="dialog-actions">
        <button class="button js-dialog-close">Cancel</button>
        <button type="submit" class="button primary js-dialog-close">Edit product</button>
    </div>
</form>
</div>
{% endblock %}